.drill {
    width: 100%;
    height: auto;

    margin-top: 5rem;
    margin-bottom: 2rem;

    position: relative;
    float: left;
}

.drill-container {
    width: 85%;
    max-width: 40rem;
    height: auto;

    padding: 1rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #b2dfdb;
    border-radius: 1rem;
}

.drill-initialize {
    width: 100%;
    height: auto;

    position: relative;
    float: left;
}

.drill-initialize > form > p {
    width: 100%;
    height: 3rem;

    margin: 0;
    padding: 0;

    position: relative;
    float: left;

    color: #00796b;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    line-height: 3rem;
}

.drill-initialize > form > input {
    width: 100%;
    height: 2rem;

    margin-bottom: 1rem;

    position: relative;
    float: left;

    color: #4db6ac;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;

    border: none;
    border-radius: 0.5rem;

    outline: none;
}

.drill-initialize > form > button {
    width: 6rem;
    height: 2rem;

    margin: 0 calc((100% - 6rem) / 2);

    position: relative;
    float: left;

    color: white;
    font-size: 0.8rem;
    font-weight: 900;
    text-align: center;

    background-color: #00796B;
    border: none;
    border-radius: 0.5rem;

    outline: none;
}

.drill-process {
    width: 100%;
    height: 30rem;

    position: relative;
    float: left;
}

.drill-process-text {
    width: 100%;
    height: 27rem;

    position: relative;
    float: left;
}

.drill-process-english,
.drill-process-korean {
    width: auto;
    max-width: 80%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #00796B;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
}

.drill-process-english {
    display: none;
}

.drill-process-container {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0.5rem 0;

    text-align: center;

    position: relative;
    float: left;
}

.drill-process-hint {
    width: 50%;
    height: 3rem;

    padding: 0 1rem;

    position: relative;
    float: left;

    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 3rem;

    background-color: #B0BEC5;
    box-sizing: border-box;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;

    outline: none;
}

.drill-process-next {
    width: 50%;
    height: 3rem;

    padding: 0 1rem;

    position: relative;
    float: left;

    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: right;
    line-height: 3rem;

    background-color: #4DB6AC;
    box-sizing: border-box;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;

    outline: none;
}