.list-null {
    width: 100%;
    height: 3rem;

    position: relative;
    float: left;

    color: #00695c;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
}

.list-element {
    width: calc(100% - 2rem);
    height: 2rem;

    margin: 0 1rem 1rem 1rem;

    position: relative;
    float: left;

    background-color: #e0f2f180;
    border-radius: 0.5rem;
}

.list-element:hover {
    background-color: #e0f2f1;
}

.list-element > div {
    width: calc(50% - 2rem);
    height: 100%;

    position: relative;
    float: left;

    color: #00695c;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 2rem;

    box-sizing: border-box;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-element-icon-update {
    width: 0.8rem;
    height: 0.8rem;

    margin: 0.6rem;

    position: relative;
    float: left;

    color: lightseagreen;

    background: none;
    border: none;

    cursor: pointer;
    outline: none;
}

.list-element-icon-delete {
    width: 0.8rem;
    height: 0.8rem;

    margin: 0.6rem;

    position: relative;
    float: left;

    color: lightcoral;

    background: none;
    border: none;

    cursor: pointer;
    outline: none;
}
