.body {
    width: 100%;
    height: calc(100% - 3rem);

    overflow-x: hidden;
    overflow-y: scroll;

    position: relative;
    float: left;

    background-color: #E0F2F1;
}

.default {
    width: 100%;
    height: auto;

    margin-bottom: 2rem;
    
    position: relative;
    float: left;
}

.default-container {
    width: calc(100% - 4rem);
    max-width: 40rem;
    height: auto;

    padding: 1rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #B2DFDB;
    box-sizing: border-box;
    border-radius: 1rem;
}

