.mode {
    width: calc(100% - 4rem - 2px);
    max-width: 40rem;
    height: 5rem;

    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #E0F2F1;
    box-sizing: border-box;

    z-index: 9;
}

.mode-button-container {
    width: 100%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mode-button,
.mode-button-active {
    width: calc(100% / 3 - 0.1rem);
    height: 2rem;

    margin: 0 0.05rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.8rem;
    font-weight: 700;

    border: none;
    
    cursor: pointer;
    outline: none;
}

.mode-button {
    background-color: #4DB6AC;
}

.mode-button-active {
    background-color: #00796B;
}